div.centreOmbre {
	border: solid;
 	border-radius: 1em;
	box-shadow: black 0.5em 0.5em 0.3em;
	margin: auto;
	padding: 30px;
	margin-top: 70px;
}
.centreOmbre h1 {
	text-align: center;
	margin-top: 0px;
}

#signup {
	font-size: 17px;
	width: 180px;
}

#submit {
	display: block;
	margin: auto;
	margin-top: 5px;
}

.centreOmbre table {
	margin: auto;
	border-collapse: collapse;
	width: 80%;
}
.centreOmbre th, tr, td {
	border: solid 1px grey;
	margin: auto;
}
.centreOmbre tr:nth-child(even) {
	background-color: #DDD;
}
.centreOmbre tr:nth-child(odd) {
	background-color: #AAA;
}

.centreOmbre tr.ligne:hover {
	background-color: #FFF;
}

.quantiteLivre {
	width: 100px;
}
table input {
	border: 0px;
	width: 100%;
	height: 100%;
}